body {
  font-family: avenir, arial, sans-serif, monospace;
  background: black;
  color: white;
}

$outline-width: 1px;
$outline-color: lightblue;
#instructions {
  color: white;
  font-weight: normal;
  border: solid black;
  border-width: 0.5rem 0 0;
  padding-top: 0.5rem;
  display: inline-block;
  transition: border-color 0.25s;
}

canvas {
  background: white;
  outline: none;
  border-radius: 0.25rem;
  margin-bottom: 1rem;

  &:focus {
    outline: 10px solid #555;
  }
}

button:not(:last-child) {
  border: 2px solid whitesmoke;
  height: 3rem;
  margin-right: 10px;
}

.color-group {
  display: flex;
  flex-direction: row;
  background: #333;
  padding: 10px;
  max-width: 600px;
  margin: auto;
  border-radius: 0.25rem;

  &:hover,
  &:focus-within {
    background: #555;
  }

  button {
    flex: 1;
    border: none;

    &#clear,
    &#download {
      border-radius: 1rem;
      font-size: medium;
    }

    &:hover,
    &:focus {
      background: #555;
      color: white;
      outline: 4px solid white !important;

      &#white {
        outline-color: black !important;
      }
    }
  }
}

.center-horizontally {
  text-align: center;
}

#red {
  background: red;
  &:hover:before,
  &:focus:before {
    content: "Red";
  }
}
#orange {
  background: orange;
  &:hover:before,
  &:focus:before {
    content: "Orange";
    color: black;
  }
}
#yellow {
  background: yellow;
  &:hover:before,
  &:focus:before {
    content: "Yellow";
    color: black;
  }
}
#green {
  background: green;
  &:hover:before,
  &:focus:before {
    content: "Green";
  }
}
#blue {
  background: blue;
  &:hover:before,
  &:focus:before {
    content: "Blue";
  }
}
#white {
  background: white;
  &:hover:before,
  &:focus:before {
    content: "White";
    color: black;
  }
}
#black {
  background: black;
  &:hover:before,
  &:focus:before {
    content: "Black";
  }
}
