body {
  font-family: avenir, arial, sans-serif, monospace;
  background: black;
  color: white;
}

$outline-width: 1px;
$outline-color: lightblue;
#instructions {
  color: white;
  font-weight: normal;
  border: solid black;
  border-width: 0.5rem 0 0;
  padding-top: 0.5rem;
  display: inline-block;
  transition: border-color 0.25s;
}

canvas {
  background: white;
  outline: none;
  border-radius: 0.25rem;
}

button:not(:last-child) {
  border: 2px solid whitesmoke;
  height: 3rem;
  margin-right: 10px;
}

.color-group {
  display: flex;
  flex-direction: row;
  background: #555;
  padding: 10px;
  max-width: 600px;
  margin: auto;
  border-radius: 0.25rem;

  button {
    flex: 1;
    border: none;

    &#clear,
    &#download {
      border-radius: 1rem;
      font-size: medium;
    }

    &:hover {
      background: #555;
      color: white;
      border: 4px solid white !important;

      &#white {
        border-color: black !important;
      }
    }

    &:focus {
      outline: none;
      border: none;
    }
  }
}

.center-horizontally {
  text-align: center;
}

#red {
  background: red;
}
#orange {
  background: orange;
}
#yellow {
  background: yellow;
}
#green {
  background: green;
}
#blue {
  background: blue;
}
#white {
  background: white;
}
#black {
  background: black;
}
